<h1 class ="usersTitle"> users details</h1>
<%= render 'shared/login_as' %>
<div class= "userProfile">
  <%= render partial: "shared/user_info", locals: { user: @user } %>
  <div class = "bioContainer" >
    <h2> Bio </h2>
    <p class = "bio">
      <%= @user.Bio %>
    </p>
  </div>
  <% @recent_posts.each_with_index do |post, index| %>
  <div class = "post">
    <p>
      Post #<%= index + 1 %>
    </p>
    <p class = "postTitle">
      <%= post.Title %>
    </p>
    <p class = "postContent">
      <%= post.Text %>
    </p>
    <div class = "counters">
      <span> 
        Comments: <%= post.CommentsCounter == nil ?  0 : post.CommentsCounter  %>
      </span>
      <span> 
        Likes: <%= post.LikesCounter == nil ? 0 : post.LikesCounter  %>
      </span>
    </div>
  </div>
  <% end %>
  <%= button_to 'See all posts', user_posts_path(@user.id), method: :get, class: 'btnPosts' %>
</div>