<h1 class ="usersTitle"> All the details of a post from specified user </h1>
<%= render 'shared/login_as' %>
<div class = "userProfile postDetails" >
  <div class = "postInformation">
    <h2> <%= @post.Title %> by <%= @user.Name %> </h2>
      <div class = "counters">
        <span> 
          Comments: <%= @post.CommentsCounter == nil ?  0 : @post.CommentsCounter  %>
        </span>
        ,
        <span> 
          Likes: <%= @post.LikesCounter == nil ? 0 : @post.LikesCounter  %>
        </span>
      </div>
      <p>
        <%= @post.Text %>
      </p>
  </div>
  <div class= "postComments">
    <% if @post.comments.any? %>
      <% @post.comments.each do |comment| %>
        <p>
          <%= comment.author.Name %>
          :
          <%= comment.Text %>
        </p>
      <% end %>
      <% else %>
        <p>
          No comments yet
        </p>
    <% end %>
  </div>
  <%= button_to 'Create a comment', new_comment_path(user_id: @user.id, post_id: @post.id), method: :get, class: 'btnPosts btnComment'  %>
  <%= button_to 'Give like', create_like_path(user_id: @user.id, post_id: @post.id), method: :post, class: 'btnPosts btnComment' %>
  <%= button_to 'Back to all the posts', user_posts_path, method: :get, class: 'btnPosts btnMargin'%>
</div>